html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.flag_16 {background: url(/img/maps.png) no-repeat 0 0; line-height: 17px; background-repeat: no-repeat; }
.left_16 { padding-left: 20px; background-position: left top; }
.right_16 { padding-right: 13px; background-position: right top; }
.flag_16 { background-image: url(/img/map.png); background-repeat: no-repeat; }
.afghanistan_16_left { background-position: 0 -17px; }
.afghanistan_16_right { background-position: 100% -17px; }
.africa_16_left { background-position: 0 -33px; }
.africa_16_right { background-position: 100% -33px; }
.albania_16_left { background-position: 0 -49px; }
.albania_16_right { background-position: 100% -49px; }
.algeria_16_left { background-position: 0 -65px; }
.algeria_16_right { background-position: 100% -65px; }
.american-samoa_16_left { background-position: 0 -81px; }
.american-samoa_16_right { background-position: 100% -81px; }
.andorra_16_left { background-position: 0 -97px; }
.andorra_16_right { background-position: 100% -97px; }
.angola_16_left { background-position: 0 -113px; }
.angola_16_right { background-position: 100% -113px; }
.anguilla_16_left { background-position: 0 -129px; }
.anguilla_16_right { background-position: 100% -129px; }
.antigua-and-barbuda_16_left { background-position: 0 -145px; }
.antigua-and-barbuda_16_right { background-position: 100% -145px; }
.argentina_16_left { background-position: 0 -161px; }
.argentina_16_right { background-position: 100% -161px; }
.armenia_16_left { background-position: 0 -177px; }
.armenia_16_right { background-position: 100% -177px; }
.aruba_16_left { background-position: 0 -193px; }
.aruba_16_right { background-position: 100% -193px; }
.asia_16_left { background-position: 0 -209px; }
.asia_16_right { background-position: 100% -209px; }
.australia_16_left { background-position: 0 -225px; }
.australia_16_right { background-position: 100% -225px; }
.austria_16_left { background-position: 0 -241px; }
.austria_16_right { background-position: 100% -241px; }
.azerbaijan_16_left { background-position: 0 -257px; }
.azerbaijan_16_right { background-position: 100% -257px; }
.bahamas_16_left { background-position: 0 -273px; }
.bahamas_16_right { background-position: 100% -273px; }
.bahrain_16_left { background-position: 0 -289px; }
.bahrain_16_right { background-position: 100% -289px; }
.bangladesh_16_left { background-position: 0 -305px; }
.bangladesh_16_right { background-position: 100% -305px; }
.barbados_16_left { background-position: 0 -321px; }
.barbados_16_right { background-position: 100% -321px; }
.belarus_16_left { background-position: 0 -337px; }
.belarus_16_right { background-position: 100% -337px; }
.belgium_16_left { background-position: 0 -353px; }
.belgium_16_right { background-position: 100% -353px; }
.belize_16_left { background-position: 0 -369px; }
.belize_16_right { background-position: 100% -369px; }
.benin_16_left { background-position: 0 -385px; }
.benin_16_right { background-position: 100% -385px; }
.bermuda_16_left { background-position: 0 -401px; }
.bermuda_16_right { background-position: 100% -401px; }
.bhutan_16_left { background-position: 0 -417px; }
.bhutan_16_right { background-position: 100% -417px; }
.bolivia_16_left { background-position: 0 -433px; }
.bolivia_16_right { background-position: 100% -433px; }
.bonaire_16_left { background-position: 0 -449px; }
.bonaire_16_right { background-position: 100% -449px; }
.bosnia-herzegovina_16_left { background-position: 0 -465px; }
.bosnia-herzegovina_16_right { background-position: 100% -465px; }
.botswana_16_left { background-position: 0 -481px; }
.botswana_16_right { background-position: 100% -481px; }
.brazil_16_left { background-position: 0 -497px; }
.brazil_16_right { background-position: 100% -497px; }
.british-virgin-islands_16_left { background-position: 0 -513px; }
.british-virgin-islands_16_right { background-position: 100% -513px; }
.brunei-darussalam_16_left { background-position: 0 -529px; }
.brunei-darussalam_16_right { background-position: 100% -529px; }
.bulgaria_16_left { background-position: 0 -545px; }
.bulgaria_16_right { background-position: 100% -545px; }
.burkina-faso_16_left { background-position: 0 -561px; }
.burkina-faso_16_right { background-position: 100% -561px; }
.burundi_16_left { background-position: 0 -577px; }
.burundi_16_right { background-position: 100% -577px; }
.cambodia_16_left { background-position: 0 -593px; }
.cambodia_16_right { background-position: 100% -593px; }
.cameroon_16_left { background-position: 0 -609px; }
.cameroon_16_right { background-position: 100% -609px; }
.canada_16_left { background-position: 0 -625px; }
.canada_16_right { background-position: 100% -625px; }
.cape-verde-islands_16_left { background-position: 0 -641px; }
.cape-verde-islands_16_right { background-position: 100% -641px; }
.cayman-islands_16_left { background-position: 0 -657px; }
.cayman-islands_16_right { background-position: 100% -657px; }
.central-african-republic_16_left { background-position: 0 -673px; }
.central-african-republic_16_right { background-position: 100% -673px; }
.chad_16_left { background-position: 0 -689px; }
.chad_16_right { background-position: 100% -689px; }
.chile_16_left { background-position: 0 -705px; }
.chile_16_right { background-position: 100% -705px; }
.china-pr_16_left { background-position: 0 -721px; }
.china-pr_16_right { background-position: 100% -721px; }
.chinese-taipei_16_left { background-position: 0 -737px; }
.chinese-taipei_16_right { background-position: 100% -737px; }
.colombia_16_left { background-position: 0 -753px; }
.colombia_16_right { background-position: 100% -753px; }
.comoros_16_left { background-position: 0 -769px; }
.comoros_16_right { background-position: 100% -769px; }
.congo-dr_16_left { background-position: 0 -785px; }
.congo-dr_16_right { background-position: 100% -785px; }
.congo_16_left { background-position: 0 -801px; }
.congo_16_right { background-position: 100% -801px; }
.cook-islands_16_left { background-position: 0 -817px; }
.cook-islands_16_right { background-position: 100% -817px; }
.costa-rica_16_left { background-position: 0 -833px; }
.costa-rica_16_right { background-position: 100% -833px; }
.cote-divoire_16_left { background-position: 0 -849px; }
.cote-divoire_16_right { background-position: 100% -849px; }
.croatia_16_left { background-position: 0 -865px; }
.croatia_16_right { background-position: 100% -865px; }
.cuba_16_left { background-position: 0 -881px; }
.cuba_16_right { background-position: 100% -881px; }
.curacao_16_left { background-position: 0 -897px; }
.curacao_16_right { background-position: 100% -897px; }
.cyprus_16_left { background-position: 0 -913px; }
.cyprus_16_right { background-position: 100% -913px; }
.czech-republic_16_left { background-position: 0 -929px; }
.czech-republic_16_right { background-position: 100% -929px; }
.denmark_16_left { background-position: 0 -945px; }
.denmark_16_right { background-position: 100% -945px; }
.djibouti_16_left { background-position: 0 -961px; }
.djibouti_16_right { background-position: 100% -961px; }
.dominica_16_left { background-position: 0 -977px; }
.dominica_16_right { background-position: 100% -977px; }
.dominican-republic_16_left { background-position: 0 -993px; }
.dominican-republic_16_right { background-position: 100% -993px; }
.east-timor_16_left { background-position: 0 -1009px; }
.east-timor_16_right { background-position: 100% -1009px; }
.ecuador_16_left { background-position: 0 -1025px; }
.ecuador_16_right { background-position: 100% -1025px; }
.egypt_16_left { background-position: 0 -1041px; }
.egypt_16_right { background-position: 100% -1041px; }
.el-salvador_16_left { background-position: 0 -1057px; }
.el-salvador_16_right { background-position: 100% -1057px; }
.england_16_left { background-position: 0 -1073px; }
.england_16_right { background-position: 100% -1073px; }
.equatorial-guinea_16_left { background-position: 0 -1089px; }
.equatorial-guinea_16_right { background-position: 100% -1089px; }
.eritrea_16_left { background-position: 0 -1105px; }
.eritrea_16_right { background-position: 100% -1105px; }
.estonia_16_left { background-position: 0 -1121px; }
.estonia_16_right { background-position: 100% -1121px; }
.ethiopia_16_left { background-position: 0 -1137px; }
.ethiopia_16_right { background-position: 100% -1137px; }
.europe_16_left { background-position: 0 -1153px; }
.europe_16_right { background-position: 100% -1153px; }
.faroe-islands_16_left { background-position: 0 -1169px; }
.faroe-islands_16_right { background-position: 100% -1169px; }
.fiji_16_left { background-position: 0 -1185px; }
.fiji_16_right { background-position: 100% -1185px; }
.finland_16_left { background-position: 0 -1201px; }
.finland_16_right { background-position: 100% -1201px; }
.france_16_left { background-position: 0 -1217px; }
.france_16_right { background-position: 100% -1217px; }
.french-guyana_16_left { background-position: 0 -1233px; }
.french-guyana_16_right { background-position: 100% -1233px; }
.gabon_16_left { background-position: 0 -1249px; }
.gabon_16_right { background-position: 100% -1249px; }
.gambia_16_left { background-position: 0 -1265px; }
.gambia_16_right { background-position: 100% -1265px; }
.georgia_16_left { background-position: 0 -1281px; }
.georgia_16_right { background-position: 100% -1281px; }
.germany_16_left { background-position: 0 -1297px; }
.germany_16_right { background-position: 100% -1297px; }
.ghana_16_left { background-position: 0 -1313px; }
.ghana_16_right { background-position: 100% -1313px; }
.gibraltar_16_left { background-position: 0 -1329px; }
.gibraltar_16_right { background-position: 100% -1329px; }
.great-britain_16_left { background-position: 0 -1345px; }
.great-britain_16_right { background-position: 100% -1345px; }
.greece_16_left { background-position: 0 -1361px; }
.greece_16_right { background-position: 100% -1361px; }
.grenada_16_left { background-position: 0 -1377px; }
.grenada_16_right { background-position: 100% -1377px; }
.guadeloupe_16_left { background-position: 0 -1393px; }
.guadeloupe_16_right { background-position: 100% -1393px; }
.guam_16_left { background-position: 0 -1409px; }
.guam_16_right { background-position: 100% -1409px; }
.guatemala_16_left { background-position: 0 -1425px; }
.guatemala_16_right { background-position: 100% -1425px; }
.guernsey_16_left { background-position: 0 -1441px; }
.guernsey_16_right { background-position: 100% -1441px; }
.guinea-bissau_16_left { background-position: 0 -1457px; }
.guinea-bissau_16_right { background-position: 100% -1457px; }
.guinea_16_left { background-position: 0 -1473px; }
.guinea_16_right { background-position: 100% -1473px; }
.guyana_16_left { background-position: 0 -1489px; }
.guyana_16_right { background-position: 100% -1489px; }
.haiti_16_left { background-position: 0 -1505px; }
.haiti_16_right { background-position: 100% -1505px; }
.honduras_16_left { background-position: 0 -1521px; }
.honduras_16_right { background-position: 100% -1521px; }
.hong-kong_16_left { background-position: 0 -1537px; }
.hong-kong_16_right { background-position: 100% -1537px; }
.hungary_16_left { background-position: 0 -1553px; }
.hungary_16_right { background-position: 100% -1553px; }
.iceland_16_left { background-position: 0 -1569px; }
.iceland_16_right { background-position: 100% -1569px; }
.india_16_left { background-position: 0 -1585px; }
.india_16_right { background-position: 100% -1585px; }
.indonesia_16_left { background-position: 0 -1601px; }
.indonesia_16_right { background-position: 100% -1601px; }
.iran_16_left { background-position: 0 -1617px; }
.iran_16_right { background-position: 100% -1617px; }
.iraq_16_left { background-position: 0 -1633px; }
.iraq_16_right { background-position: 100% -1633px; }
.ireland-republic_16_left { background-position: 0 -1649px; }
.ireland-republic_16_right { background-position: 100% -1649px; }
.isle-of-man_16_left { background-position: 0 -1665px; }
.isle-of-man_16_right { background-position: 100% -1665px; }
.israel_16_left { background-position: 0 -1681px; }
.israel_16_right { background-position: 100% -1681px; }
.italy_16_left { background-position: 0 -1697px; }
.italy_16_right { background-position: 100% -1697px; }
.jamaica_16_left { background-position: 0 -1713px; }
.jamaica_16_right { background-position: 100% -1713px; }
.japan_16_left { background-position: 0 -1729px; }
.japan_16_right { background-position: 100% -1729px; }
.jersey_16_left { background-position: 0 -1745px; }
.jersey_16_right { background-position: 100% -1745px; }
.jordan_16_left { background-position: 0 -1761px; }
.jordan_16_right { background-position: 100% -1761px; }
.kazakhstan_16_left { background-position: 0 -1777px; }
.kazakhstan_16_right { background-position: 100% -1777px; }
.kenya_16_left { background-position: 0 -1793px; }
.kenya_16_right { background-position: 100% -1793px; }
.kiribati_16_left { background-position: 0 -1809px; }
.kiribati_16_right { background-position: 100% -1809px; }
.korea-dpr_16_left { background-position: 0 -1825px; }
.korea-dpr_16_right { background-position: 100% -1825px; }
.korea-republic_16_left { background-position: 0 -1841px; }
.korea-republic_16_right { background-position: 100% -1841px; }
.kosovo_16_left { background-position: 0 -1857px; }
.kosovo_16_right { background-position: 100% -1857px; }
.kuwait_16_left { background-position: 0 -1873px; }
.kuwait_16_right { background-position: 100% -1873px; }
.kyrgyzstan_16_left { background-position: 0 -1889px; }
.kyrgyzstan_16_right { background-position: 100% -1889px; }
.laos_16_left { background-position: 0 -1905px; }
.laos_16_right { background-position: 100% -1905px; }
.latan_16_left { background-position: 0 -1921px; }
.latan_16_right { background-position: 100% -1921px; }
.latvia_16_left { background-position: 0 -1937px; }
.latvia_16_right { background-position: 100% -1937px; }
.lebanon_16_left { background-position: 0 -1953px; }
.lebanon_16_right { background-position: 100% -1953px; }
.lesotho_16_left { background-position: 0 -1969px; }
.lesotho_16_right { background-position: 100% -1969px; }
.liberia_16_left { background-position: 0 -1985px; }
.liberia_16_right { background-position: 100% -1985px; }
.libya_16_left { background-position: 0 -2001px; }
.libya_16_right { background-position: 100% -2001px; }
.liechtenstein_16_left { background-position: 0 -2017px; }
.liechtenstein_16_right { background-position: 100% -2017px; }
.lithuania_16_left { background-position: 0 -2033px; }
.lithuania_16_right { background-position: 100% -2033px; }
.luxembourg_16_left { background-position: 0 -2049px; }
.luxembourg_16_right { background-position: 100% -2049px; }
.macao_16_left { background-position: 0 -2065px; }
.macao_16_right { background-position: 100% -2065px; }
.macedonia-fyr_16_left { background-position: 0 -2081px; }
.macedonia-fyr_16_right { background-position: 100% -2081px; }
.madagascar_16_left { background-position: 0 -2097px; }
.madagascar_16_right { background-position: 100% -2097px; }
.malawi_16_left { background-position: 0 -2113px; }
.malawi_16_right { background-position: 100% -2113px; }
.malaysia_16_left { background-position: 0 -2129px; }
.malaysia_16_right { background-position: 100% -2129px; }
.maldives_16_left { background-position: 0 -2145px; }
.maldives_16_right { background-position: 100% -2145px; }
.mali_16_left { background-position: 0 -2161px; }
.mali_16_right { background-position: 100% -2161px; }
.malta_16_left { background-position: 0 -2177px; }
.malta_16_right { background-position: 100% -2177px; }
.martinique_16_left { background-position: 0 -2193px; }
.martinique_16_right { background-position: 100% -2193px; }
.mauritania_16_left { background-position: 0 -2209px; }
.mauritania_16_right { background-position: 100% -2209px; }
.mauritius_16_left { background-position: 0 -2225px; }
.mauritius_16_right { background-position: 100% -2225px; }
.mayotte_16_left { background-position: 0 -2241px; }
.mayotte_16_right { background-position: 100% -2241px; }
.mexico_16_left { background-position: 0 -2257px; }
.mexico_16_right { background-position: 100% -2257px; }
.moldova_16_left { background-position: 0 -2273px; }
.moldova_16_right { background-position: 100% -2273px; }
.monaco_16_left { background-position: 0 -2289px; }
.monaco_16_right { background-position: 100% -2289px; }
.mongolia_16_left { background-position: 0 -2305px; }
.mongolia_16_right { background-position: 100% -2305px; }
.montenegro_16_left { background-position: 0 -2321px; }
.montenegro_16_right { background-position: 100% -2321px; }
.montserrat_16_left { background-position: 0 -2337px; }
.montserrat_16_right { background-position: 100% -2337px; }
.morocco_16_left { background-position: 0 -2353px; }
.morocco_16_right { background-position: 100% -2353px; }
.mozambique_16_left { background-position: 0 -2369px; }
.mozambique_16_right { background-position: 100% -2369px; }
.myanmar_16_left { background-position: 0 -2385px; }
.myanmar_16_right { background-position: 100% -2385px; }
.namibia_16_left { background-position: 0 -2401px; }
.namibia_16_right { background-position: 100% -2401px; }
.nauru_16_left { background-position: 0 -2417px; }
.nauru_16_right { background-position: 100% -2417px; }
.nc-america_16_left { background-position: 0 -2433px; }
.nc-america_16_right { background-position: 100% -2433px; }
.nepal_16_left { background-position: 0 -2449px; }
.nepal_16_right { background-position: 100% -2449px; }
.netherlands_16_left { background-position: 0 -2465px; }
.netherlands_16_right { background-position: 100% -2465px; }
.new-caledonia_16_left { background-position: 0 -2481px; }
.new-caledonia_16_right { background-position: 100% -2481px; }
.new-zealand_16_left { background-position: 0 -2497px; }
.new-zealand_16_right { background-position: 100% -2497px; }
.nicaragua_16_left { background-position: 0 -2513px; }
.nicaragua_16_right { background-position: 100% -2513px; }
.niger_16_left { background-position: 0 -2529px; }
.niger_16_right { background-position: 100% -2529px; }
.nigeria_16_left { background-position: 0 -2545px; }
.nigeria_16_right { background-position: 100% -2545px; }
.niue_16_left { background-position: 0 -2561px; }
.niue_16_right { background-position: 100% -2561px; }
.nordic_16_left { background-position: 0 -2577px; }
.nordic_16_right { background-position: 100% -2577px; }
.northern-ireland_16_left { background-position: 0 -2593px; }
.northern-ireland_16_right { background-position: 100% -2593px; }
.northern-mariana-islands_16_left { background-position: 0 -2609px; }
.northern-mariana-islands_16_right { background-position: 100% -2609px; }
.norway_16_left { background-position: 0 -2625px; }
.norway_16_right { background-position: 100% -2625px; }
.oceania_16_left { background-position: 0 -2641px; }
.oceania_16_right { background-position: 100% -2641px; }
.oman_16_left { background-position: 0 -2657px; }
.oman_16_right { background-position: 100% -2657px; }
.pakistan_16_left { background-position: 0 -2673px; }
.pakistan_16_right { background-position: 100% -2673px; }
.palau_16_left { background-position: 0 -2689px; }
.palau_16_right { background-position: 100% -2689px; }
.palestine_16_left { background-position: 0 -2705px; }
.palestine_16_right { background-position: 100% -2705px; }
.panama_16_left { background-position: 0 -2721px; }
.panama_16_right { background-position: 100% -2721px; }
.papua-new-guinea_16_left { background-position: 0 -2737px; }
.papua-new-guinea_16_right { background-position: 100% -2737px; }
.paraguay_16_left { background-position: 0 -2753px; }
.paraguay_16_right { background-position: 100% -2753px; }
.peru_16_left { background-position: 0 -2769px; }
.peru_16_right { background-position: 100% -2769px; }
.philippines_16_left { background-position: 0 -2785px; }
.philippines_16_right { background-position: 100% -2785px; }
.poland_16_left { background-position: 0 -2801px; }
.poland_16_right { background-position: 100% -2801px; }
.portugal_16_left { background-position: 0 -2817px; }
.portugal_16_right { background-position: 100% -2817px; }
.puerto-rico_16_left { background-position: 0 -2833px; }
.puerto-rico_16_right { background-position: 100% -2833px; }
.qatar_16_left { background-position: 0 -2849px; }
.qatar_16_right { background-position: 100% -2849px; }
.reunion_16_left { background-position: 0 -2865px; }
.reunion_16_right { background-position: 100% -2865px; }
.romania_16_left { background-position: 0 -2881px; }
.romania_16_right { background-position: 100% -2881px; }
.russia_16_left { background-position: 0 -2897px; }
.russia_16_right { background-position: 100% -2897px; }
.rwanda_16_left { background-position: 0 -2913px; }
.rwanda_16_right { background-position: 100% -2913px; }
.saint-martin_16_left { background-position: 0 -2929px; }
.saint-martin_16_right { background-position: 100% -2929px; }
.samoa_16_left { background-position: 0 -2945px; }
.samoa_16_right { background-position: 100% -2945px; }
.san-marino_16_left { background-position: 0 -2961px; }
.san-marino_16_right { background-position: 100% -2961px; }
.sao-tome-e-principe_16_left { background-position: 0 -2977px; }
.sao-tome-e-principe_16_right { background-position: 100% -2977px; }
.saudi-arabia_16_left { background-position: 0 -2993px; }
.saudi-arabia_16_right { background-position: 100% -2993px; }
.scotland_16_left { background-position: 0 -3009px; }
.scotland_16_right { background-position: 100% -3009px; }
.senegal_16_left { background-position: 0 -3025px; }
.senegal_16_right { background-position: 100% -3025px; }
.serbia-and-montenegro_16_left { background-position: 0 -3041px; }
.serbia-and-montenegro_16_right { background-position: 100% -3041px; }
.serbia_16_left { background-position: 0 -3057px; }
.serbia_16_right { background-position: 100% -3057px; }
.seychelles_16_left { background-position: 0 -3073px; }
.seychelles_16_right { background-position: 100% -3073px; }
.sierra-leone_16_left { background-position: 0 -3089px; }
.sierra-leone_16_right { background-position: 100% -3089px; }
.singapore_16_left { background-position: 0 -3105px; }
.singapore_16_right { background-position: 100% -3105px; }
.sint-eustatius_16_left { background-position: 0 -3121px; }
.sint-eustatius_16_right { background-position: 100% -3121px; }
.sint-maarten_16_left { background-position: 0 -3137px; }
.sint-maarten_16_right { background-position: 100% -3137px; }
.slovakia_16_left { background-position: 0 -3153px; }
.slovakia_16_right { background-position: 100% -3153px; }
.slovenia_16_left { background-position: 0 -3169px; }
.slovenia_16_right { background-position: 100% -3169px; }
.solomon-islands_16_left { background-position: 0 -3185px; }
.solomon-islands_16_right { background-position: 100% -3185px; }
.somalia_16_left { background-position: 0 -3201px; }
.somalia_16_right { background-position: 100% -3201px; }
.south-africa_16_left { background-position: 0 -3217px; }
.south-africa_16_right { background-position: 100% -3217px; }
.south-america_16_left { background-position: 0 -3233px; }
.south-america_16_right { background-position: 100% -3233px; }
.south-sudan_16_left { background-position: 0 -3249px; }
.south-sudan_16_right { background-position: 100% -3249px; }
.spain_16_left { background-position: 0 -3265px; }
.spain_16_right { background-position: 100% -3265px; }
.sri-lanka_16_left { background-position: 0 -3281px; }
.sri-lanka_16_right { background-position: 100% -3281px; }
.st-kitts-and-nevis_16_left { background-position: 0 -3297px; }
.st-kitts-and-nevis_16_right { background-position: 100% -3297px; }
.st-lucia_16_left { background-position: 0 -3313px; }
.st-lucia_16_right { background-position: 100% -3313px; }
.st-vincent-and-the-grenadines_16_left { background-position: 0 -3329px; }
.st-vincent-and-the-grenadines_16_right { background-position: 100% -3329px; }
.sudan_16_left { background-position: 0 -3345px; }
.sudan_16_right { background-position: 100% -3345px; }
.surinam_16_left { background-position: 0 -3361px; }
.surinam_16_right { background-position: 100% -3361px; }
.swaziland_16_left { background-position: 0 -3377px; }
.swaziland_16_right { background-position: 100% -3377px; }
.sweden_16_left { background-position: 0 -3393px; }
.sweden_16_right { background-position: 100% -3393px; }
.switzerland_16_left { background-position: 0 -3409px; }
.switzerland_16_right { background-position: 100% -3409px; }
.syria_16_left { background-position: 0 -3425px; }
.syria_16_right { background-position: 100% -3425px; }
.tahiti_16_left { background-position: 0 -3441px; }
.tahiti_16_right { background-position: 100% -3441px; }
.tajikistan_16_left { background-position: 0 -3457px; }
.tajikistan_16_right { background-position: 100% -3457px; }
.tanzania_16_left { background-position: 0 -3473px; }
.tanzania_16_right { background-position: 100% -3473px; }
.thailand_16_left { background-position: 0 -3489px; }
.thailand_16_right { background-position: 100% -3489px; }
.togo_16_left { background-position: 0 -3505px; }
.togo_16_right { background-position: 100% -3505px; }
.tonga_16_left { background-position: 0 -3521px; }
.tonga_16_right { background-position: 100% -3521px; }
.trinidad-and-tobago_16_left { background-position: 0 -3537px; }
.trinidad-and-tobago_16_right { background-position: 100% -3537px; }
.tunisia_16_left { background-position: 0 -3553px; }
.tunisia_16_right { background-position: 100% -3553px; }
.turkey_16_left { background-position: 0 -3569px; }
.turkey_16_right { background-position: 100% -3569px; }
.turkmenistan_16_left { background-position: 0 -3585px; }
.turkmenistan_16_right { background-position: 100% -3585px; }
.turks-and-caicos-islands_16_left { background-position: 0 -3601px; }
.turks-and-caicos-islands_16_right { background-position: 100% -3601px; }
.tuvalu_16_left { background-position: 0 -3617px; }
.tuvalu_16_right { background-position: 100% -3617px; }
.uganda_16_left { background-position: 0 -3633px; }
.uganda_16_right { background-position: 100% -3633px; }
.ukraine_16_left { background-position: 0 -3649px; }
.ukraine_16_right { background-position: 100% -3649px; }
.united-arab-emirates_16_left { background-position: 0 -3665px; }
.united-arab-emirates_16_right { background-position: 100% -3665px; }
.united-states_16_left { background-position: 0 -3681px; }
.united-states_16_right { background-position: 100% -3681px; }
.uruguay_16_left { background-position: 0 -3697px; }
.uruguay_16_right { background-position: 100% -3697px; }
.us-virgin-islands_16_left { background-position: 0 -3713px; }
.us-virgin-islands_16_right { background-position: 100% -3713px; }
.uzbekistan_16_left { background-position: 0 -3729px; }
.uzbekistan_16_right { background-position: 100% -3729px; }
.vanuatu_16_left { background-position: 0 -3745px; }
.vanuatu_16_right { background-position: 100% -3745px; }
.venezuela_16_left { background-position: 0 -3761px; }
.venezuela_16_right { background-position: 100% -3761px; }
.vietnam_16_left { background-position: 0 -3777px; }
.vietnam_16_right { background-position: 100% -3777px; }
.wales_16_left { background-position: 0 -3793px; }
.wales_16_right { background-position: 100% -3793px; }
.world_16_left { background-position: 0 -3809px; }
.world_16_right { background-position: 100% -3809px; }
.yemen_16_left { background-position: 0 -3825px; }
.yemen_16_right { background-position: 100% -3825px; }
.zambia_16_left { background-position: 0 -3841px; }
.zambia_16_right { background-position: 100% -3841px; }
.zanzibar_16_left { background-position: 0 -3857px; }
.zanzibar_16_right { background-position: 100% -3857px; }
.zimbabwe_16_left { background-position: 0 -3873px; }
.zimbabwe_16_right { background-position: 100% -3873px; }

.yellow-dot {
    width: 13px;
    height: 13px;
    background: #F2E52C !important;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 2px auto;

}

.fial-dot {
    width: 13px;
    height: 13px;
    background: #7200ff !important;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 2px auto;

}

.orange-dot {
    width: 13px;
    height: 13px;
    background: orange !important;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 2px auto;
}


.green-dot {
    width: 13px;
    height: 13px;
    background: #21B534 !important;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 2px auto;
}

.blue-dot {
    width: 13px;
    height: 13px;
    background: blue !important;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 2px auto;
    cursor: pointer;
}

.light-blue-dot {
    width: 13px;
    height: 13px;
    background: lightblue !important;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 2px auto;
    cursor: pointer;
}

.red-dot {
    width: 13px;
    height: 13px;
    background: red !important;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 2px auto;
    cursor: pointer;
}

.black-dot {
    width: 13px;
    height: 13px;
    background: black !important;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 2px auto;
    cursor: pointer;
}

.player {
    display: block;
    background: none;
    margin-top: -17px;
}

#playerA:checked ~ .player {
    background: #FC585E;

}
#playerB:checked ~ .player {
    color: red;
    font-weight: bold;
    text-decoration: line-through;

}
#playerC:checked ~ .player {
    color: green;
    font-weight: bold;
    text-decoration: underline;

}
#playerD:checked ~ .player {
    color: #FAAA0A;
    font-weight: bold;
    text-decoration: underline;
}

.player_status0 {color: #3c8dbc !important;}
.player_status1 {color: red !important; text-decoration: line-through !important;}
.player_status2 {color: #FFF !important; background: red !important;}
.player_status3 {color: green !important; text-decoration: underline !important;}
.player_status4 {color: #FAAA0A !important; text-decoration: underline !important;}

.nav-match-count-input {
    width: 55px;
    float: left;
    margin: 7px 0 0 0;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#get-transfermarkt.disabled i{
    display: block;
}

aside.control-sidebar#saved-matches-sidebar {
    width: 300px;
    right: -300px;
}

aside#saved-matches-sidebar.control-sidebar.control-sidebar-open,.control-sidebar.control-sidebar-open+.control-sidebar-bg {
    right: 0
}

aside.control-sidebar#saved-matches-sidebar .control-sidebar-open{
    right: 0;
}

.control-sidebar-bg#saved-matches-sidebar,.control-sidebar {
    top: 0;
    right: -300px;
    width: 300px;
    -webkit-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out
}

.control-sidebar.control-sidebar-open,.control-sidebar.control-sidebar-open+.control-sidebar-bg#saved-matches-sidebar {
    right: 0
}

#saved-matches-sidebar ul li:focus {
    outline: none;
}

.control-sidebar-menu#saved-matches-container>li>a {
    display: block;
    padding: 0 15px;
}

table .mark {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

#match-table-container .table-bordered>thead>tr>th,
#match-table-container .table-bordered>tbody>tr>th,
#match-table-container .table-bordered>tfoot>tr>th,
#match-table-container .table-bordered>thead>tr>td,
#match-table-container .table-bordered>tbody>tr>td,
#match-table-container .table-bordered>tfoot>tr>td {
    border: 1px solid #cee0ea;
    padding: 0;
}

#match-table-container .table-hover > tbody > tr:hover {
    background-color: #b6f7bb;
}

#lineups-table tr:hover {
    background-color: #b6f7bb;
}

#lineups-table .has-lineups {
    background-color: #f9f27c;
}

#replacements-table .has-lineups {
    background-color: #f9f27c;
}

.player-row td:first-child {
    cursor: pointer;
}

.captain-icon {
    background-repeat: no-repeat;
    background-position: -373px -105px;
    width: 14px;
    height: 11px;
    vertical-align: text-top;
    margin-left: 3px;
    margin-top: 2px;
}

.icons_sprite {
    background-repeat: no-repeat;
    background-image: url(/img/iconset_sprite.png);
    display: inline-block;
    cursor: inherit !important;
}

#orders-forms-row textarea{
    margin-bottom: 5px;
}

.history-matches-icon {
    width: 16px;
    height: 15px;
    float: left;
    background: url(/img/history-icons.png) no-repeat 50% 50%;
    margin-right: 2px;
    text-indent: -5000px;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

.history-loss {
    background-position: 0 -16px;
}

.history-draw {
    background-position: 0 0;
}

.history-win {
    background-position: 0 -32px;
}

.history-marks-container {
    display: inline-block;
}

.commands-info .info-box {
    height: 95px;
}

.commands-info .info-box-icon {
    height: 95px;
}

.commands-info .info-box-content p{
    margin: 0 0 0 0;
}

.players-cost-container {
    margin-bottom: 20px;
}

.players-cost-container p {
    margin: 0 0 3px;
}